extends ../layout

block content
  p #[strong Project Detail]
  h1 #{title}
  p #[strong Complexity:] #{complexity}
  p #[strong Expense:] #{expense}
  p #[strong Materials:] #{materials}
  p #[strong Tags:] #{tags}

  hr

  h3 #[strong #{headline} ]

  include description.pug

  hr
