extends ../layout

block content
  p #{title}:
  h1 #{roaster.name}
  p #[strong Address:] #{roaster.address}
  p #[strong Phone:] #{roaster.phone}
  p #[strong Coordinates:] #{roaster.address}
  p #[strong Distance:] #{roaster.phone}

  hr
  p
    a(href=roaster.id+`/delete`) Delete roaster
