doctype html
html(lang='en')
  head
    title #{title}
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no, width=device-width')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.3.1.js', integrity='sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src=googleKey)
    script(src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
    script(src='https://unpkg.com/react@16/umd/react.development.js', crossorigin) 
    script(src='https://unpkg.com/react-dom@16/umd/react-dom.development.js', crossorigin) 
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='/js/navListener.js')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/mystyles.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css')
    link(rel='apple-touch-icon', sizes='180x180', href='/img/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon-16x16.png')
    link(rel='manifest', href='/img/site.webmanifest')
    link(rel='mask-icon', href='/img/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-TileColor', content='#d5e7ec')
    meta(name='theme-color', content='#ffffff')

    script.
          let user = `#{currentUser}`
            window.currentUser = `#{currentUser}`
            console.log('currentUser', window.currentUser)
            window.newLat = `#{newLat}`
            window.newLng = `#{newLng}`
            console.log('coords', window.newLat, window.newLng)
  body

    div#navbar
      script(src='/js/navbar.js')
        
    div.container
      block content

      
