extends ../../../../layout 

block content

    div#userInfo
      h2 
      a(href=`../../${wasteOwner}`) #[strong] #{wasteOwner}'s waste

    br 
    br

    div#wasteInfo
      h1 #[strong]#{waste.title}
      h3 #[strong Amount:] #{waste.amount} lbs
      h3 #[strong Frequency:] #{waste.frequency.category}, #{waste.frequency.moment}
      img(src=waste.photo.url)
